.bottom-up-page-container {
    display: grid;
    grid-template-columns: [first] 40vw [second] 20vw [third] 40vw [fourth];
    grid-template-rows: [first] 20vh [second] 8vh [third] auto [fourth];
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 20;
    top: 0;
    background-color: transparent;
}

.close-icon-button {
    grid-column: second / third;
    grid-row: second / third;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-icon-button>button {
    width: auto;
    height: auto;
}

.close-icon {
    display: inline-block;
    font-size: 48px;
    width: 48px;
    overflow: hidden;
}

.bottom-up-page-content {
    grid-column: first / fourth;
    grid-row: third / fourth;
    background-color: #FFF;
}

.transparent-clip{
    clip-path: ellipse(50% 95% at 50% 100%);
    background-color: #FFF;
    height: 100%;
    width: 100%;
}

.clip-wrap {
    grid-column: first / fourth;
    grid-row: second / third;
    filter: drop-shadow(1px -3px 4px rgba(50, 50, 0, 0.5))
  }