<div class="grid-footer">
    <div class="favorite mdl-js-button mdl-js-ripple-effect" (click)="clicked('favorite')">
        <div class="icon-grid">
            <i class="material-icons-round icon-center">favorite</i>
        </div>
    </div>
    <div class="home mdl-js-button mdl-js-ripple-effect" (click)="clicked('home')">
        <div class="icon-grid">
            <i class="material-icons-round icon-center">home</i>
        </div>
    </div>
    <div class="view mdl-js-button mdl-js-ripple-effect" (click)="clicked('view')">
        <div class="icon-grid">
            <i class="material-icons icon-center "> view_quilt </i>
        </div>
    </div>
</div>

