<infinite-scroll class="scrollBarLayout" (scrolled)="onReachEnd()" [rowHeight]="rowHeight" [colNum]="colNum"
    [gap]="'1em'" [elementsNumber]="items.length">
    <ng-container *ngFor="let item of items; index as i">
        <infinite-scroll-grid-item>
            <div *ngIf=" (i%2 == 0)? true : false" [@slideInRightOnEnter] style="height: 100%;">
                <card [item]="item" (iconClicked)="addToFavorites($event)" (readMore)="toogleDetail($event)"></card>
            </div>
            <div *ngIf=" (i%2 != 0)? true : false" [@slideInLeftOnEnter] style="height: 100%;">
                <card [item]="item" (iconClicked)="addToFavorites($event)" (readMore)="toogleDetail($event)"></card>
            </div>
        </infinite-scroll-grid-item>
    </ng-container>
</infinite-scroll>

<ng-container *ngIf="error">
    <div class="no-article">Some error occurs...</div>
    <br>
    <div class="no-article">(❍ᴥ❍ʋ)</div>

</ng-container>

<ng-container *ngIf="toogleContainer">
    <bottom-up-page-container (close)="toogleContainer = false">
        <div class="description-grid">
            <div [innerHTML]="innerHTML" class="content"></div>
        </div>
    </bottom-up-page-container>
</ng-container>