<ng-container *ngIf="item">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp card-grid-container">
        <div class="mdl-card__title card-title">
            <h2 class="mdl-card__title-text">{{item.name}}</h2>
        </div>
        <div class="mdl-card__supporting-text text-ellipsis card-description">
            {{item.description}}
        </div>
        <div class="mdl-card__actions mdl-card--border card-button">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="onReadMore()">
                Read More
            </a>
        </div>
        <div class="mdl-card__menu">
            <button [@slideOutUp]="item.favorite" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
                style="position: absolute;">
                <em *ngIf="item.favorite" class="material-icons-round heart-icon-ff2e2e">favorite</em>
            </button>
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" (click)="onIconClick()">
                <em *ngIf="!item.favorite" class="material-icons-round heart-icon-ff2e2e">favorite_border </em>
                <em *ngIf="item.favorite" class="material-icons-round heart-icon-ff2e2e">favorite</em>
            </button>
        </div>
    </div>
</ng-container>