.demo-card-wide.mdl-card {
    width: 100%;
    border-radius: 15px;
}

.demo-card-wide>.mdl-card__title {
    color: black;
}

.demo-card-wide>.mdl-card__menu {
    color: black;
}

.card-grid-container {
    display: grid;
    grid-template-columns: [first] auto [second];
    grid-template-rows: [first] 40% [second] 38% [third] auto [fourth];
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
}

.card-title {
    grid-column: first / second;
    grid-row: first / second;
}

.card-description {
    grid-column: first / second;
    grid-row: second / third;
}

.card-button {
    grid-column: first / second;
    grid-row: third / fourth;
}

.mdl-button--icon {
    padding: 0.15em;
}