<div class="grid-footer">
    <div class="favorite mdl-js-button mdl-js-ripple-effect" routerLink="/favorite">
        <div class="icon-grid">
            <i class="material-icons-round icon-center">favorite</i>
        </div>
    </div>
    <div class="home mdl-js-button mdl-js-ripple-effect" routerLink="/">
        <div class="icon-grid">
            <i class="material-icons-round icon-center">home</i>
        </div>
    </div>
    <div class="view mdl-js-button mdl-js-ripple-effect">
        <div class="icon-grid" style="background-color: rgb(197, 142, 142);">
            <i class="material-icons-round  icon-center">power_settings_new</i>
        </div>
    </div>
</div>