<div class="grid-footer">
    <div class="favorite mdl-js-button mdl-js-ripple-effect" routerLink="/favorite">
        <div class="icon-grid">
            <i class="material-icons-round icon-center heart-icon-ff2e2e">favorite</i>
        </div>
    </div>
    <div class="home mdl-js-button mdl-js-ripple-effect" routerLink="/">
        <div class="icon-grid">
            <i class="material-icons-round icon-center home-icon-22c738">home</i>
        </div>
    </div>
    <div class="view mdl-js-button mdl-js-ripple-effect">
        <div class="icon-grid" >
            <i class="material-icons-round  icon-center">list</i>
        </div>
    </div>
</div>