.grid-footer {
    display: grid;
    grid-template-columns: [first] 33% [second] 33% [third] 33% [fourth];
    grid-template-rows: [first] auto [second];
    min-height: 100%;
}

.favorite {
    grid-column: first / second;
    grid-row: first / second;
}

.home {
    grid-column: second / third;
    grid-row: first / second;
}

.view {
    grid-column: third / fourth;
    grid-row: first / second;
}

.icon-grid{
    display: grid;
    grid-template-columns: [first] 40% [second] 33% [third] 27% [fourth];
    grid-template-rows: [first] 30% [second] 33% [third] 37% [fourth];
    min-height: 100%;
}

.icon-center{
    grid-column: second / fourth;
    grid-row: second / fourth;
    font-size: 35px;
}

.mdl-js-button.mdl-js-ripple-effect { position: relative; }
