<div [@fadeInOnEnter]>
    <div class="features-grid scrollBarLayout">
        <div class="contains">
            <article name="pwa-description">
                <h3>What is this?</h3>
                <p>This is a PWA. <a target="_blank" href="https://developers.google.com/web/progressive-web-apps">Here</a> you can find
                    everything on this technology.</p>
                <p>On with technology is created ? With <a target="_blank" href="https://angular.io/">Angular !</a></p>
                <p>A PWA can take the experience from the web to all the devices and seems a native Appwith with the
                    same code base!</p>
                <p>Have fun with this little POC (proof of concept) that is created with the purpose to show you the
                    possibility of the technology.</p>
            </article>
        </div>
        <article class="contains section-danger-zone ">
            <h3>Danger Area</h3>
            <div class="danger-area-grid">
                <div class="erase-data" *ngIf="!eraseData && !erased" [@fadeOutOnLeave] [@fadeIn]>
                    <button class="mdl-button mdl-js-button mdl-button--accent erase-data-ff3446 erase-data-button"
                        (click)="eraseData = true">
                        Delete
                    </button>
                </div>
                <div class="erase-data-text" *ngIf="!eraseData && !erased" [@fadeOutOnLeave] [@fadeIn]>
                    <strong>Delete the data of the application</strong>
                    <p>you delete the data, there is no going back</p>
                    <br>
                </div>

                <div class="erase-data-text-security" *ngIf="eraseData && !erased" [@fadeOutOnLeave] [@fadeInOnEnter]>
                    <strong>Are you sure ?</strong>
                    <br>
                </div>
                <div class="erase-data-security" *ngIf="eraseData && !erased" [@fadeOutOnLeave] [@fadeInOnEnter]>
                    <button class="mdl-button mdl-js-button mdl-button--accent erase-data-ff3446 erase-data-button"
                        (click)="deleteLocalStorage()">
                        Yes
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button erase-data-button" (click)="eraseData = false">
                        No
                    </button>
                </div>
                <div class="data-deleted" *ngIf="erased" [@fadeOutOnLeave] [@fadeInOnEnter]>
                    <strong>Data deleted</strong>
                    <br>
                </div>

            </div>
        </article>



    </div>
</div>