.features-grid {
    display: grid;
    grid-template-columns: [first] 5vw [second] 90vw [third] 5vw [fourth];
    grid-template-rows: [first] auto [second] 4vh [third] 10vh [fourth] auto [fifth] auto [sixth] auto [seventh];
}

.pwa-description {
    grid-column: second / third;
    grid-row: first / second;
}

.section-pwa-description {
    grid-column: first / -1;
    grid-row: first / second;
    background-color: #FFF;
}

.section-danger-zone {
    grid-column: first / -1;
    grid-row: second / fourth;
    background-color: #ffb3b3cb;
}

.danger-area-text {
    grid-column: second / third;
    grid-row: second / third;
    padding-top: 10px;
}

.danger-area {
    grid-column: second / third;
    grid-row: third / fourth;
}

.danger-area-grid {
    display: grid;
    grid-template-columns: [first] 2vw [second] 25vw [third] 25vw [fourth] auto [fifth];
    grid-template-rows: [first] auto [second];
    max-height: 100%;
    min-height: 100%;
}

.erase-data {
    grid-column: second / third;
    grid-row: first / second;
}

.erase-data-text {
    grid-column: third / fifth;
    grid-row: first / second;
    padding-top: 5px;
    padding-right: 5px;
}

.erase-data-button {
    margin-top: 10px;
}

.erase-data-ff3446 {
    color: #ff3446;
}

.erase-data-ff3446:hover {
    background-color: #ff3446;
    color: #FFF;
}

.erase-data-ff3446:active {
    background-color: #ff3446;
    color: #FFF;
}

.erase-data-text-security {
    grid-column: second / fourth;
    grid-row: first / second;
    margin-top: 18px;
    text-align: center;
}

.erase-data-security {
    grid-column: fourth / fifth;
    grid-row: first / second;
}

.data-deleted {
    grid-column: first / fifth;
    grid-row: first / second;
    margin-top: 18px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .danger-area-grid {
        grid-template-columns: [first] 2vw [second] 10vw [third] auto [fourth];
    }
}