.features-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5,auto);
    max-height: 90vh;
    min-height: 90vh;
    overflow-y: scroll;
    position: relative;
}

.contains{
    padding: 0px 10vw 0px 10vw;
}

.section-danger-zone {
    background-color: #ffb3b3cb;
    min-height: 20vh;
}

.danger-area-grid {
    display: grid;
    grid-template-columns: [first] 2vw [second] 25vw [third] 25vw [fourth] auto [fifth];
    grid-template-rows: [first] auto [second];
}

.erase-data {
    grid-column: second / third;
    grid-row: first / second;
}

.erase-data-text {
    grid-column: third / fifth;
    grid-row: first / second;
    padding-top: 5px;
    padding-right: 5px;
}

.erase-data-button {
    margin-top: 10px;
}

.erase-data-ff3446 {
    color: #ff3446;
}

.erase-data-ff3446:hover {
    background-color: #ff3446;
    color: #FFF;
}

.erase-data-ff3446:active {
    background-color: #ff3446;
    color: #FFF;
}

.erase-data-text-security {
    grid-column: second / fourth;
    grid-row: first / second;
    margin-top: 18px;
    text-align: center;
}

.erase-data-security {
    grid-column: fourth / fifth;
    grid-row: first / second;
}

.data-deleted {
    grid-column: first / fifth;
    grid-row: first / second;
    margin-top: 18px;
    text-align: center;
}

.scrollBarLayout::-webkit-scrollbar {
    /* width: 0.4em; */
    width: 0em;
    border-radius: 1em;
}

.scrollBarLayout::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrollBarLayout::-webkit-scrollbar-thumb {
    /* slim scroll bar */
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

@media only screen and (min-width: 768px) {
    .danger-area-grid {
        grid-template-columns: [first] 2vw [second] 10vw [third] auto [fourth];
    }
}