<infinite-scroll class="scrollBarLayout" [rowHeight]="rowHeight" [colNum]="colNum" [gap]="'1em'"
    [elementsNumber]="items.length">
    <div *ngFor="let item of items" [@fadeOut]="!item.favorite ? true : false" (@fadeOut.done)="removeToFavorites(item)"
        style="height: 100%;" [@fadeInOnEnter]>
        <infinite-scroll-grid-item>
            <card [item]="item" (readMore)="toogleDetail($event)"></card>
        </infinite-scroll-grid-item>
    </div>
</infinite-scroll>

<ng-container *ngIf="items.length == 0">
    <div class="no-article"> You don't have any favorites article!</div>
</ng-container>

<ng-container *ngIf="toogleContainer">
    <bottom-up-page-container (close)="toogleContainer = false">
        <div class="description-grid">
            <div [innerHTML]="innerHTML" class="content"></div>
        </div>
    </bottom-up-page-container>
</ng-container>