<infinite-scroll class="scrollBarLayout" [rowHeight]="rowHeight" [colNum]="colNum" [gap]="'1em'"
    [elementsNumber]="items.length">
    <div *ngFor="let item of items" [@fadeOut]="!item.favorite ? true : false"
        (@fadeOut.done)="removeToFavorites(item)" style="height: 100%;">
        <infinite-scroll-grid-item>
            <card [item]="item"></card>
        </infinite-scroll-grid-item>
    </div>
</infinite-scroll>

<ng-container *ngIf="items.length == 0">
    <div class="no-article"> You don't have any favorites article!</div>
</ng-container>