/* You can add global styles to this file, and also import other style files */
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.text-ellipsis{
    text-overflow: ellipsis;
}

.heart-icon-ff2e2e{
    color:#ff2e2e
}

.home-icon-22c738{
    color:#22c738;
}