:host {
    display: block;
}

.variables {
    --rowNum: 0;
    --colNum: 0;
    --rowHeight: 0px;
    --gap: 0px;
}

.infinite-scroll-grid {
    display: grid;
    grid-template-rows: repeat(var(--rowNum), var(--rowHeight));
    grid-template-columns: repeat(var(--colNum), auto);
    gap: var(--gap);
}

.infinite-scroll-grid >>> #infinite-scroll-grid-item {
    grid-column-start: auto;
    grid-row-start: auto;
    max-height: var(--rowHeight);
    min-height: var(--rowHeight);
}